<form method="post" action="{{ path('post_delete', {'id': affichagePost.id}) }}" onsubmit="return confirm('Etes vous sur(e) ?');">
{# Modale de suppression #}
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affichagePost.id) }}">
    <button class="btn btn-danger btn-block mb-2">Supprimer</button>{# affichage du bouton sur la vu #}
</form>