{% extends 'base.html.twig' %}

{% block body %}
{# initialisation d'une condition de vérification  d'authentification et affichage différé si l'utilisateur n'est pas connecté #}
<div class="my-5">
{% if is_granted('IS_AUTHENTICATED_FULLY')%}

    
    {% for post in allPost  %}
    {# chargement des 6 premiers post #}
    {% include 'home/_post.html.twig' %}
    
    {% endfor %}
    {# cette modal est chargée chaque fois qu'une requête ajax sera lancée sur cette page #}
    {# Les contenus chargés en base par requête ajax seront chargés dans cette balise d'id scrollPost #}
    <div id="scrollPost"></div>
    
    {% else %}
    {# message d'accueil, bouton de redirection inscription/connection si l'utilisateur n'est pas connecté #}
    <div class="row d-flex align-items-center">
        <h1 class="text-center pt-md-5 col-12">Bienvenue sur #HentiettO</h1>
        <p class="text-center text-warning col-12">Vous n'êtes actuellement pas connecté, pensez à vous authentifier ou à vous enregistrer!</p>
        <a class="btn mr-1 btn-primary col-2 offset-4 text-light" href="{{ path('app_login')}}">Se connecter</a>
        <a class="btn ml-1 btn-secondary col-2 text-light" href="{{ path('app_register')}}">S'inscrire</a>
    </div>
    {% endif %}
</div>
<div class="modal"></div>

{% endblock %}
{% block additionnalJS %}
<script src="{{ asset('js/postScroll.js') }}"></script>
{% endblock %}