{% extends 'base.html.twig' %}

{% block body %}
    <div class="centrage-profile">
        <h1>Page introuvable</h1>

        <p>
        La page recherchée n'existe pas. Veuillez vérifier votre lien URL ou <a class="colorPseudo" href="{{ path('home') }}">retourner à la page d'accueil</a>.
        </p>
    </div>
{% endblock %}
