<div class="col-xs-12 col-md-2 bg-dark pt-5 maSidebar border-top border-secondary">
    <ul class="col-12 nav nav-fill d-flex flex-xs-wrap flex-md-column">
        <li class="nav-item">
          <a class="nav-link text-light" href="{{path('settings')}}">Informations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{path('editPassword')}}">Mot de Passe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Préférences</a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li> #}
      </ul>
</div>