{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
<div class="row">
    
    {% include "settings/_sidebar.html.twig" %}

    <div class="mt-5 mb-5 pb-3 col-xs-12 col-md-10 offset-md-2">
        
        <h1>Informations initiales</h1>
            {{ form_start(form) }}
            {{ form_end(form) }}
        
        <h1>Informations supplémentaires</h1>
            {{ form_start(form2) }}
            {{ form_end(form2) }}
    
    </div>            

</div>
{% endblock %}
