{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="row">
    
    {% include "settings/_sidebar.html.twig" %}

    <div class="mt-5 mb-5 pb-3 col-xs-12 col-md-10 offset-md-2">
        
        {# Ici j'affiche les informations que l'utilisateur à déjà rentrées à l'inscription #}
        <h1>Informations initiales</h1>
            {{ form_start(form) }}
            {{ form_end(form) }}
        
        {# Et ici j'affiche les informations qu'il a ou qu'il peut rajouter si il le souhaite #}
        <h1>Informations supplémentaires</h1>
            {{ form_start(form2) }}
            {{ form_end(form2) }}
    </div>      

</div>
{% endblock %}
