{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="mb-5 pb-3">
    
    <h1>Informations initiales</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
    
    <h1>Informations supplémentaires</h1>
        {{ form_start(form2) }}
        {{ form_end(form2) }}

</div>            
{% endblock %}
