{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="row">
    
    {% include "settings/_sidebar.html.twig" %}

    <div class="col-xs-12 col-md-10">
        
        <h1>changer le mot de passe</h1>
            {{ form_start(form) }}
            {{ form_end(form) }}
    </div>            

</div>
{% endblock %}